<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login Form</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="parent">
        <div class="container">
            <div class="bg"></div>
            <form action="">
                <h2 class="heading">Login Here</h2>
    
                <label for="text">User Name: </label>
                <input type="text"name="userName"[(ngModel)]="loginObj.userName">
    
                <label for="password">Password: </label>
                <input type="password"name="password"[(ngModel)]="loginObj.password" >
    
                <button class="login-btn" type="button"(click)="onLogin()">Login</button>
                <span class="register-btn">Don't have an account?</span>
            </form>
        </div>


    </div>
    
</body>
</html>